:root {
    --cor-primaria: #7c3aed;
    --cor-fundo-escuro: #0d0d0d;
    --cor-fundo-medio: #1a1a2e;
    --cor-fundo-claro: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 100px 0;
}

.navbar {
    background-color: var(--cor-fundo-escuro);
}
#hero {
    background: linear-gradient(135deg, var(--cor-fundo-escuro),50%, var(--cor-fundo-medio));
    min-height: 100vh;
    color: #fff;
}
.badge-lancamento {
    background-color: var(--cor-primaria);
    font-size: 1rem !important;
    padding: 0.5rem 1rem;
    border-radius: 50px !important;
}

.hero-titulo-destaque{
 color: var(--cor-primaria)
}
.product-img{
    border-radius: 1rem;
    box-shadow: 0 20px 60px rgba(235, 225, 225, 0.3);
}
.btn-outline-hero {
    border-radius: 50px !important;
}
.comprar {
    background-color: var(--cor-primaria) !important;
    border-radius: 50px !important;
    color: #fff !important;
}
.btn-quero-meu {
    background-color: var(--cor-primaria) !important;
    border-radius: 50px !important;
    color: #fff !important;
}

#sobre {
    background-color: var(--cor-fundo-claro);
}
.secao-label{
    color: var(--cor-primaria);
    font-size: 1rem;
}

.stat-valor {
    color: var(--cor-primaria);
}

.feature-card {
    border:none;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature-card:hover {
    transform: translatey(-6px);
    box-shadow: 0 12px 32px rgba(0,0,0,0.12);

}
.feature-icon {
    font-size: 2.5rem;
    color: var(--cor-primaria);
}